.header-container-child,
.about-me-child {
  position: absolute;
  margin: 0 !important;
  filter: blur(50px);
  border-radius: 50%;
  background: radial-gradient(50% 50%at 50% 50%, #243047);
}
.about-me-child {
  width: 32.813rem;
  height: 32.813rem;
  top: -16.375rem;
  right: -12.125rem;
}

.about-me {
  width: 100%;
  position: relative;
  background: linear-gradient(-90deg, #1b263b, #0d1b2a);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 12.562rem;
  line-height: normal;
  letter-spacing: normal;
}

.nav-about {
  border-radius: var(--br-xl);
  background-color: var(--color-lightslategray);
  color: var(--color-gray);
}


.to-fulfill {
  position: absolute;
  top: 4.438rem;
  left: 8.375rem;
  letter-spacing: 0.12em;
}
.frame1,
.fulfill {
  position: absolute;
  width: 32.813rem;
  overflow: hidden;
}
.fulfill {
  top: 34.875rem;
  left: 0;
  background-color: var(--color-lightslategray);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  height: 11.625rem;
}
.frame1 {
  top: 0;
  left: 44.688rem;
  height: 46.5rem;
}
.curretly-studying {
  position: absolute;
  top: 4.438rem;
  left: 2.063rem;
  letter-spacing: 0.12em;
}
.study {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkgray);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 32.813rem;
  height: 11.625rem;
  overflow: hidden;
}
.in-free-time {
  position: absolute;
  top: 4.438rem;
  left: 6.813rem;
  letter-spacing: 0.12em;
}
.frame3,
.free-time {
  position: absolute;
  width: 32.563rem;
  overflow: hidden;
}
.free-time {
  top: 23.25rem;
  left: 0;
  background-color: var(--color-darkgray);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  height: 11.625rem;
}
.frame3 {
  top: 0;
  left: 0.25rem;
  height: 34.875rem;
  text-align: left;
}
.passionate-about {
  position: absolute;
  top: 4.438rem;
  left: 3.063rem;
  letter-spacing: 0.12em;
}
.frame4,
.passion {
  position: absolute;
  width: 32.813rem;
  overflow: hidden;
}
.passion {
  top: 11.625rem;
  left: 0;
  background-color: var(--color-lightslategray);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  height: 11.625rem;
}
.frame4 {
  top: 0;
  left: 44.688rem;
  height: 23.25rem;
  text-align: left;
}
.about-me5 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.36em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12.188rem;
  flex-shrink: 0;
  transform: rotate(90deg);
}
.center-name,
.frame2 {
  position: absolute;
  top: 0;
  height: 46.5rem;
}
.center-name {
  left: 32.813rem;
  background-color: var(--color-darkslategray);
  width: 12.188rem;
  display: flex;
  text-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  color: var(--color-darkgray);
}
.frame2 {
  left: 0;
  width: 77.5rem;
  overflow: hidden;
  text-align: center;
}

.frame {
  position: relative;
  margin: 0 auto;
  top: 0;
  width: 77.5rem;
  height: 46.5rem;
  flex-shrink: 0;
  font-size: var(--font-size-17xl);
  color: var(--color-darkslategray);
}
