body {
  margin: 0;
  line-height: normal;
  background-color: var(--color-gray); /* Default background color */
}

:root {
  /* fonts */
  --font-mukta: Mukta;
  --font-sen: Sen;

  /* font sizes */
  --font-size-lgi: 1.188rem;
  --font-size-5xl: 1.5rem;
  --font-size-17xl: 2.25rem;
  --font-size-3xl: 1.375rem;
  --font-size-10xl: 1.813rem;

  /* Colors */
  --color-black: #000;
  --color-white: #fff;
  --color-lightslategray: #8d99ae;
  --color-honeydew: #f1faee;
  --color-gray: #0d1b2a;
  --color-slategray: #738094;
  --color-darkgray: #98999c;
  --color-darkslategray-100: #333;
  --color-darkslategray: #243047;

  /* Gaps */
  --gap-xl: 1.25rem;
  --gap-41xl: 3.75rem;
  --gap-mini: 0.937rem;
  --gap-11xl: 1.875rem;
  --gap-97xl: 7.25rem;
  --gap-10xl: 1.812rem;
  --gap-39xl: 3.625rem;
  --gap-base: 1rem;
  --gap-13xl: 2rem;
  --gap-sm: 0.875rem;

  /* Paddings */
  --padding-xl: 1.25rem;
  --padding-6xl: 1.562rem;
  --padding-22xl: 2.562rem;
  --padding-14xl: 2.062rem;
  --padding-2xl: 1.312rem;
  --padding-5xs: 0.5rem;
  --padding-35xl: 3.375rem;
  --padding-8xl: 1.687rem;
  --padding-3xs: 0.625rem;
  --padding-base: 1rem;
  --padding-7xs: 0.375rem;
  --padding-20xl: 2.437rem;
  --padding-41xl: 3.75rem;
  --padding-8xs: 0.312rem;
  --padding-sm: 0.875rem;
  --padding-12xl: 1.937rem;
  --padding-smi: 0.812rem;
  --padding-164xl: 11.437rem;
  --padding-5xl: 1.5rem;
  --padding-3xl: 1.375rem;
  --padding-10xl: 1.812rem;
  --padding-24xl: 2.687rem;
  --padding-15xl: 2.125rem;
  --padding-7xl: 1.625rem;
  --padding-lg: 1.125rem;
  --padding-2xs: 0.687rem;
  --padding-50xl: 4.312rem;
  --padding-51xl: 4.375rem;

  /* Border radiuses */
  --br-9xs: 4px;
  --br-xs: 12px;
  --br-xl: 20px;
}

.header-container,
.navigation-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}

.header-container {
  flex: 1;
  position: relative;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-sen);
}
.header-container-child {
  height: 13.438rem;
  width: 13.438rem;
  top: -6.687rem;
  left: 36.563rem;
}
.navigation-container {
  align-self: stretch;
  padding: 0 0 8.937rem;
  box-sizing: border-box;
}

.get-in-touch,
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header {
  flex: 1;
  backdrop-filter: blur(4px);
  border-radius: var(--br-9xs);
  justify-content: space-between;
  padding: var(--padding-6xl) var(--padding-22xl) var(--padding-6xl)
    var(--padding-14xl);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
}

.navigator {
  width: 47.75rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-35xl);
  box-sizing: border-box;
  gap: var(--gap-41xl);
  max-width: 100%;
}

.nav-about,
.nav-skills,
.nav-project,
.nav-home,
.wilson {
  text-decoration: none;
  position: relative;
  display: inline-block;
}

.wilson {
  height: 2.875rem;
  width: 12.125rem;
  font-size: var(--font-size-17xl);
  letter-spacing: 0.1em;
  font-weight: 700;
  font-family: var(--font-mukta);
  color: var(--color-honeydew);
  text-align: center;
  flex-shrink: 0;
}

.home,
.about,
.skills,
.project {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nav-home,
.nav-about,
.nav-skills,
.nav-project,
.nav-get-in-touch {
  padding: var(--padding-3xs) var(--padding-xl);
  color: inherit;
}

.nav-home:hover,
.nav-about:hover,
.nav-skills:hover,
.nav-project:hover,
.nav-get-in-touch:hover {
  border-radius: var(--br-xl);
  background-color: var(--color-lightslategray);
  color: var(--color-gray);
}

.nav-home {
  font-size: var(--font-size-5xl);
  font-family: var(--font-sen);
  text-align: left;
  min-width: 4.313rem;
}
.home {
  cursor: pointer;
  border: 0;
}
.nav-about {
  min-width: 7.313rem;
}
.about {
  border-radius: var(--br-xl);
  padding: var(--padding-3xs) var(--padding-base);
}
.nav-skills {
  min-width: 3.438rem;
}
.skills {
  border-radius: var(--br-xl);
  padding: var(--padding-3xs) var(--padding-xl);
}
.nav-project {
  min-width: 5.125rem;
}

.nav-get-in-touch {
  text-decoration: none;
  position: relative;
}

.get-in-touch {
  border-radius: var(--br-xs);
  overflow: hidden;
  justify-content: center;
  padding: var(--padding-2xl) var(--padding-xl);
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  body {
    background-color: var(--color-darkslategray);
  }

  .navigator {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: var(--padding-5xs);
    gap: var(--gap-sm);
  }

  .nav-home,
  .nav-about,
  .nav-skills,
  .nav-project,
  .nav-get-in-touch {
    font-size: var(--font-size-3xl);
    padding: var(--padding-sm);
  }

  .wilson {
    font-size: var(--font-size-lgi);
    width: auto;
    padding: var(--padding-3xs);
  }
}
