.header-container-child,
.portfolio-child {
  position: absolute;
  margin: 0 !important;
  filter: blur(50px);
  border-radius: 50%;
  background: radial-gradient(50% 50%at 50% 50%, #243047);
}
.portfolio-child {
  width: 32.813rem;
  height: 32.813rem;
  top: -16.375rem;
  right: -12.125rem;
}

.nav-home {
  border-radius: var(--br-xl);
  background-color: var(--color-lightslategray);
  color: var(--color-gray);
}



.greeting-child {
  height: 20.625rem;
  width: 20.188rem;
  position: absolute;
  margin: 0 !important;
  right: -13.75rem;
  bottom: -8.062rem;
  filter: blur(50px);
  border-radius: 50%;
  background: radial-gradient(50% 50%at 50% 50%, rgba(152, 153, 156, 0.25));
}
.this-is-wilson {
  color: var(--color-honeydew);
  white-space: pre-wrap;
}
.hello-this-is-container {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.1em;
  line-height: 4.813rem;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.dev-shapes-child {
  position: absolute;
  top: 0;
  left: 44.375rem;
  filter: blur(50px);
  border-radius: 50%;
  background: radial-gradient(50% 50%at 50% 50%, rgba(152, 153, 156, 0.35));
  width: 6.25rem;
  height: 6.25rem;
}
.dev-shapes-item {
  position: absolute;
  top: 6.25rem;
  left: -12.375rem;
  box-shadow: 0 4px 75px 50px rgba(141, 153, 174, 0.3);
  border-radius: 50%;
  background-color: var(--color-lightslategray);
  width: 53.125rem;
  height: 53.125rem;
}
.me-1-icon {
  position: absolute;
  top: 1.125rem;
  left: -18.25rem;
  border-radius: 32px;
  width: 64.813rem;
  height: 48.063rem;
  object-fit: cover;
  z-index: 2;
}
.dev-shapes {
  height: 48.938rem;
  width: 50.625rem;
  position: absolute;
  margin: 0 !important;
  bottom: -30.125rem;
  left: -24.687rem;
}
.greeting,
.last-indicator-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.greeting {
  flex: 1;
  position: relative;
}
.last-indicator-container {
  align-self: stretch;
  padding: 0 0 0 0.75rem;
  box-sizing: border-box;
}
.an-inspired-dev {
  width: 40.438rem;
  position: relative;
  font-size: 2rem;
  letter-spacing: 0.1em;
  color: var(--color-white);
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.indicator-container,
.introduction {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.introduction {
  width: 41.188rem;
  flex-direction: column;
  justify-content: flex-start;
}
.indicator-container {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 2.187rem 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: center;
  font-size: 3.5rem;
  color: var(--color-gray);
  font-family: var(--font-mukta);
}
.frame-child,
.temp-indicator-container-child {
  position: relative;
  filter: blur(50px);
  border-radius: 50%;
  flex-shrink: 0;
}
.frame-child {
  width: 6.25rem;
  height: 6.25rem;
  background: radial-gradient(50% 50%at 50% 50%, rgba(152, 153, 156, 0.35));
}
.temp-indicator-container-child {
  align-self: stretch;
  width: 15.75rem;
  background: radial-gradient(50% 50%at 50% 50%, #243047);
}
.temp-indicator-container {
  align-self: stretch;
  height: 16rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  flex-shrink: 0;
}
.ellipse-parent {
  height: 14.25rem;
  width: 31.25rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 8rem;
  max-width: 100%;
}
.content,
.ellipse-parent,
.portfolio {
  box-sizing: border-box;
  display: flex;
}
.content {
  width: 44.375rem;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  max-width: 100%;
}
.portfolio {
  width: 100%;
  position: relative;
  background: linear-gradient(-90deg, #1b263b, #0d1b2a);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 12.562rem;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1275px) {
  .header {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1100px) {
  .navigator {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .wilson {
    font-size: var(--font-size-10xl);
  }
  .navigator {
    gap: var(--gap-11xl);
    padding-left: var(--padding-8xl);
    padding-right: var(--padding-8xl);
    box-sizing: border-box;
  }
  .hello-this-is-container {
    font-size: 2.813rem;
    line-height: 3.875rem;
  }
  .an-inspired-dev {
    font-size: 1.625rem;
  }
  .ellipse-parent {
    padding-bottom: 5.188rem;
    box-sizing: border-box;
  }
  .portfolio {
    gap: 6.25rem;
  }
}