.header-container-child,
.my-skills-child {
  position: absolute;
  margin: 0 !important;
  filter: blur(50px);
  border-radius: 50%;
  background: radial-gradient(50% 50%at 50% 50%, #243047);
}
.my-skills-child {
  width: 32.813rem;
  height: 32.813rem;
  top: -16.375rem;
  right: -12.125rem;
}

.my-skills {
  width: 100%;
  position: relative;
  background: linear-gradient(-90deg, #1b263b, #0d1b2a);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 12.562rem;
  line-height: normal;
  letter-spacing: normal;
}

.nav-skills {
  border-radius: var(--br-xl);
  background-color: var(--color-lightslategray);
  color: var(--color-gray);
}


.skill {
  color: var(--color-lightslategray);
}
.s {
  color: var(--color-honeydew);
}
.coding-skills {
  height: 3.75rem;
  position: relative;
  letter-spacing: 0.1em;
  display: inline-block;
}
.element-shape-icon {
  height: 5rem;
  width: 6.25rem;
  position: relative;
  border-radius: var(--br-xs);
  object-fit: cover;
}
.span {
  color: var(--color-white);
}
.element-detail {
  align-self: stretch;
  height: 3.75rem;
  position: relative;
  letter-spacing: 0.1em;
  display: inline-block;
}
.coding-skill-element-container,
.element-detail-wrapper {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.element-detail-wrapper {
  width: 4.813rem;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 0;
}
.coding-skill-element-container {
  width: 17.438rem;
  background-color: var(--color-lightslategray);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-8xl) 1.75rem;
  gap: var(--gap-xl);
}
.design-sub-skill-item {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.design-skill-element-detail-wrapper,
.design-skill-pair {
  width: 4.75rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 0;
  box-sizing: border-box;
}
.design-skill-pair {
  width: 16.375rem;
  background-color: var(--color-lightslategray);
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-7xl) var(--padding-5xl);
  gap: var(--gap-xl);
}
.design-sub-skill-pair {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 1.937rem;
  max-width: 100%;
}
.design-sub-skill-pair-wrapper {
  width: 25.875rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs) var(--padding-lg);
  box-sizing: border-box;
  max-width: 100%;
}
.design-skill-sub-pair-two {
  flex: 1;
  background-color: var(--color-lightslategray);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-7xl);
  gap: var(--gap-xl);
}
.coding-frame,
.design-skill-sub-pair-two-wrapper,
.icon-detail-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.design-skill-sub-pair-two-wrapper {
  width: 18.688rem;
  flex-direction: row;
  padding: 0 var(--padding-3xs);
}
.coding-frame,
.icon-detail-wrapper {
  flex-direction: column;
}
.coding-frame {
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--color-honeydew);
  overflow: hidden;
  padding: var(--padding-10xl) var(--padding-24xl) var(--padding-15xl);
  gap: var(--gap-sm);
  max-width: 100%;
}
.icon-detail-wrapper {
  width: 4.75rem;
  padding: var(--padding-2xs) 0 0;
}
.coding-skill-icon-container {
  flex: 1;
  background-color: var(--color-lightslategray);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-7xl) var(--padding-10xl) var(--padding-7xl)
    var(--padding-5xl);
  gap: var(--gap-xl);
}
.designing-skills-parent {
  width: 20.75rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
  max-width: 100%;
}
.rectangle-parent,
.wrapper {
  justify-content: flex-start;
  box-sizing: border-box;
}
.wrapper {
  width: 4.625rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-3xs) 0 0;
}
.rectangle-parent {
  width: 17.438rem;
  background-color: var(--color-lightslategray);
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-8xl) var(--padding-5xl) var(--padding-6xl);
  gap: 3.187rem;
}
.design-frame-inner,
.rectangle-group,
.rectangle-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.design-frame-inner {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 var(--padding-lg);
}
.rectangle-group {
  flex: 1;
  background-color: var(--color-lightslategray);
  overflow: hidden;
  justify-content: space-between;
  padding: var(--padding-7xl) var(--padding-10xl) var(--padding-7xl)
    var(--padding-lg);
  gap: var(--gap-xl);
}
.coding-frame-parent,
.design-frame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.design-frame {
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--color-honeydew);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-10xl) var(--padding-24xl) var(--padding-15xl);
  box-sizing: border-box;
  gap: 2.031rem;
  min-width: 24.625rem;
}
.coding-frame-parent {
  width: 73.625rem;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8rem;
}
.content2,
.skills6 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.content2 {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-3xl) 0 var(--padding-xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-mukta);
}
.skills6 {
  width: 100%;
  position: relative;
  background: linear-gradient(270deg, #1b263b, #0d1b2a);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 var(--padding-164xl);
  gap: var(--gap-97xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1275px) {
  .header3 {
    flex-wrap: wrap;
  }
  .coding-frame-parent {
    gap: 4rem;
  }
}
@media screen and (max-width: 1100px) {
  .navigator3 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .about-me3,
  .home7,
  .project8,
  .skills8 {
    font-size: var(--font-size-lgi);
  }
  .navigator3 {
    gap: var(--gap-mini);
  }
  .get-in-touch7 {
    font-size: var(--font-size-lgi);
  }
  .coding-skills,
  .element-detail {
    font-size: var(--font-size-3xl);
  }
  .design-sub-skill-pair {
    gap: var(--gap-mini);
  }
  .design-skill-sub-pair-two {
    flex-wrap: wrap;
  }
  .coding-skill-icon-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .rectangle-parent {
    gap: 1.563rem;
  }
  .rectangle-group {
    flex-wrap: wrap;
    justify-content: center;
  }
  .coding-frame-parent {
    gap: var(--gap-base);
  }
  .skills6 {
    gap: var(--gap-10xl);
  }
}
@media screen and (max-width: 450px) {
  .navigator3 {
    gap: var(--gap-11xl);
    padding-left: var(--padding-8xl);
    padding-right: var(--padding-8xl);
    box-sizing: border-box;
  }
  .coding-skills,
  .element-detail {
    font-size: var(--font-size-10xl);
  }
  .coding-frame,
  .design-frame {
    padding: var(--padding-xl) var(--padding-2xl) var(--padding-3xl);
    box-sizing: border-box;
  }
  .design-frame {
    gap: var(--gap-base);
    min-width: 100%;
  }
  .coding-frame-parent {
    gap: var(--gap-13xl);
  }
  .skills6 {
    gap: var(--gap-39xl);
  }
}
